<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory List</title>
    </head>
    <body>
        <h1>Inventory List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Supplier</th>
                    <th>Availability</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventories %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.supplier.name }}</td>
                        <td>
                            {% if item.availability %}
                                available
                            {% else %}
                                unavailable
                            {% endif %}
                        </td>
                        <td><a href="{% url 'inventory_detail' item.id %}">Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>